*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eaeaea;
}

/* ===== HEADER ===== */
header{
    background:#131921;
    color:white;
    padding:10px 20px;
    display:flex;
    align-items:center;
    gap:20px;
}

.logo{
    color:#ff9900;
    font-size:26px;
    font-weight:bold;
}

.search{
    flex:1;
    display:flex;
}

.search input{
    width:100%;
    padding:8px;
    border:none;
}

.search button{
    padding:8px 12px;
    border:none;
    background:#ff9900;
    cursor:pointer;
}

.search button:hover{
    background:#f3a847;
}

/* ===== MENU ===== */
nav{
    background:#232f3e;
    padding:10px 20px;
}

nav a{
    color:white;
    margin-right:18px;
    text-decoration:none;
    font-size:14px;
}

nav a:hover{
    text-decoration:underline;
}

/* ===== PRODUCTS ===== */
.products{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:20px;
}

.card{
    background:white;
    width:220px;
    margin:12px;
    padding:12px;
    text-align:center;
    border-radius:5px;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    height:150px;
    object-fit:cover;
}

.card h3{
    font-size:15px;
    margin:10px 0;
}

.price{
    font-weight:bold;
    color:#0f1111;
}

.card button{
    margin-top:10px;
    width:100%;
    padding:8px;
    border:none;
    background:#ffd814;
    cursor:pointer;
    border-radius:4px;
}

.card button:hover{
    background:#f7ca00;
}

/* ===== FOOTER ===== */
footer{
    background:#131921;
    color:white;
    text-align:center;
    padding:15px;
    font-size:13px;
}
