body{
    margin :0px;
    padding: 0;
    background-color:#A1DCFE;
    background-position:top left;
    background :url ('bow.bkg.jpg');


}
html,*{
    margin:0;
    padding :0;
    box-sizing :border-box;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    font-weight:300;
    font-style:italic;
    /* font display;block; */
    color: #999;
    text-align:right;
    text-decoration:underline;
    text-transform:capitalize;
    text-shadow: 0px 0px 1px #f04;
    /*text-wrap: ; */
    /*text-overflow: ;*/


}
span{
    color:blue;size:30px;
}
#para{
    color:aqua;
    display: inline;

}
ul{
    list-style:none;
}
ul li{
    float:left;margin:30px;
}

